<div class="center jumbotron">
<h1>Sycamore - Viewing decidous Attack Trees</h1>
<p>This is a hacky rails app that lets you generate/manage/view <a href="https://www.deciduous.app/"> Decidous</a> attack trees</p>
<p>Currently in pre-alpha (just in case you had the bad idea of using it for anything serious)</p>
</div>
