<div class="center jumbotron">
<h1>Sycamore</h1>
<h2>Managing Deciduous Attack Trees</h2>
</div>
<div class="container">
<p> <a href="https://www.deciduous.app/">Decidous</a> is a really cool HTML based application from <a href="https://twitter.com/swagitda_">Kelly Shortridge</a> and <a href="https://twitter.com/rpetrich">Ryan Petrich</a> that helps create attack tree graphs.
<p> The only limitation is that at the moment you can't save/share your attack trees. So the goal of this app is to provide a way to do that. </p>
<p>This is a hacky rails app that lets you generate/manage/view Decidous attack trees</p>
<p>Source code is available on <a href="https://github.com/raesene/sycamore">Github</a>.</p>
<p>Currently in pre-alpha (just in case you had the bad idea of using it for anything serious)</p>
<p> Things you can do with the application now </p>
<ul>
<li> <%= link_to "Find out some basics about creating deciduous attack trees", help_path %> </li>
<li> <%= link_to "List Attack Trees Trees", attack_trees_path %></li>
<li> If you have creds, <%= link_to "Create a new Attack Tree", new_attack_tree_path %></li>
</ul>
</div>
