<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @attack_tree.content %>
</p>

<%= link_to 'Edit', edit_attack_tree_path(@attack_tree) %> |
<%= link_to 'Back', attack_trees_path %>
